:root {
  /* Об'єднано списки шрифтів в одну декларацію */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  background: linear-gradient(
    130deg,
    #091236 0%,
    #1e215d 35%,
    #0077b6 65%,
    #00c6ff 100%
  );
  background-attachment: fixed;
}

main {
  flex-grow: 1;
  padding: 20px;
  background: rgba(15, 32, 39, 0.85);
  box-shadow: 0 4px 10px rgba(0, 198, 255, 0.3);
  backdrop-filter: blur(10px);
  padding-bottom: 4rem;
  position: relative;
}

main::before {
  content: 'GALLERY';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7rem;
  font-weight: bold;
  background: linear-gradient(
    45deg,
    #00c6ff,
    #0077b6,
    #ff00ff,
    #ffea00,
    #00ff6a,
    #00c6ff
  );
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: neonAnimation 5s linear infinite;
  z-index: -1; /* Текст буде позаду основного контенту */
  pointer-events: none; /* Запобігає взаємодії з текстом */
}

@keyframes neonAnimation {
  0% {
    background-position: 0%;
    text-shadow: 0 0 10px #00c6ff, 0 0 20px #0077b6, 0 0 30px #ff00ff;
  }
  25% {
    background-position: 25%;
    text-shadow: 0 0 15px #00c6ff, 0 0 25px #0077b6, 0 0 35px #ff00ff;
  }
  50% {
    background-position: 50%;
    text-shadow: 0 0 10px #0077b6, 0 0 20px #ff00ff, 0 0 30px #ffea00;
  }
  75% {
    background-position: 75%;
    text-shadow: 0 0 15px #00ff6a, 0 0 25px #0077b6, 0 0 35px #ffea00;
  }
  100% {
    background-position: 100%;
    text-shadow: 0 0 10px #00c6ff, 0 0 20px #0077b6, 0 0 30px #00ff6a;
  }
}
main:has(.back-link) {
  text-align: center;
}
